.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
 
  display: flex;
  padding: 20px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}

.card img {
  max-width: 200px;
  padding-right: 20px;
  border-radius: 15px;
}

.card p {
  max-width: 400px;
}


@media(max-width: 700px){
  .card{
      flex-direction: column;
      justify-content: center;
      align-items: center;
     margin-left: 10px;
     margin-right: 10px;
      gap: 15px;
  }

  .card img {
    max-width: 250px;
    padding-right: 20px;
    border-radius: 15px;
  }
}

@media(max-width: 555px){
  .card{
     justify-content: center;
}
}

@media(max-width: 420px){
  .card img{
     width: 200px;
}
}